*.ipynb_checkpoints
*.p
*.7z
*.json
kappa*.jpg
kappa-figure.ipynb
cs_Uppsala_*.ipynb
CharcreteViz.ipynb
ActivityBrowser Sankey HTML Export.ipynb
ODYM Attempt No. 2. Biochar C stocks.ipynb
'recipe_0 to 250 climate score.xlsx'
ProjectParamExport_VegTech.xlsx
activity_browser/
ODYM/
graphs/
__pycache__/

